.header {
    background: var(--color-primary-light);
    width: 100%;
    height: 100%;
}
.header-photo {
    display: inline-block;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 32px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 48px;
}
.header-text {
    padding-top: 133px;
    color: var(--text-on-primary);
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 48px;
    vertical-align: top;
    font-weight: bold;
}
.header-text-contacts {
    padding-top: 64px;
}
@media (max-width: 750px) {
    .header-text {
        padding-top: 133px;
        color: var(--text-on-primary);
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top;
        font-weight: bold;
    }
    .header-photo {
        display: block;
        padding-top: 64px;
        padding-left: 64px;
        padding-right: 32px;
        text-align: left;
        vertical-align: top;
    }
}
@media (max-width: 750px) {
    .header-text {
        padding-top: 133px;
        color: var(--text-on-primary);
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top;
        font-weight: bold;
    }

    .header-photo {
        display: block;
        padding-top: 64px;
        padding-left: 64px;
        padding-right: 32px;
        text-align: left;
        vertical-align: top;
    }
}

.header-text-h1 {
    font-size: var(--text-h2);
}
.header-text-h5 {
    font-size: var(--text-h5);
}
.header-text-h6 {
    font-size: var(--text-h6);
}